* {
    margin: 0;
    padding: 0;
}
#root {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    height: 70%;
    width: 85%;
    background-image: url("./sean-oulashin-KMn4VEeEPR8-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.other {
   height: 100%;
  flex: 1;
  background-color: rgba(0,0,0,0.4);
}
.hourlyWeatherContainer {
  height: 100%;
  flex: 1;
}

.anotherLocationContainer {
  height: 50%;
  width: 100%;
  color: #fff;
}
.weatherDetailsContainer {
  height: 50%;
  width: 100%;
  color: #fff;
}

.searchInput {
  margin: 10px 0;
  width: 80%;
  height: 40px;
}

.countriesContainer {
  width: 80%;
  height: 80%;
}
.weatherDetails {
  width: 80%;
}